.pollObj {
	padding: 10px;
	width: 90%;
	border: solid 1px red;
	margin-bottom: 15px;
}

#pollstart {
	padding: 10px;
	border-bottom: solid 1px black;
}

.pollname {
	padding: 5px;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
}

a {
	color: blue;
}
