body {
	font-family: "Gill Sans MT Pro", Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 4px;
	margin: 4px;
	color: #000000;	
}

a {
   text-decoration:none
}

#logo {
	position: absolute;
	left:4px;
	top: 4px;
}

#main {
   position: absolute;
   left: 10px;
   top: 150px;
   width: 250px;
}

#docmain {
   position: absolute;
   left: 10px;
   top: 50px;
   width: 700px;
}

#doctext { 
   position: relative;
   left: 20px;
}
#comment{
   position:absolute;
   left: 180px;
   font-size:12px;
   text-align: left;
}

#products{
   position: absolute;
   left: 10px;
   top : 150px;
}
#comment1{
   position:absolute;
   left:275px;
   top:200px;
   text-align:left;
   border: double 2px brown;
   padding: 3px;
}

#textwlogo{
   position: absolute;
   left:5px;
   top: 120px;
   width: 500px;
}
p.rmargin {
   position: absolute;
   left: 10px;
   top: 120px;
   margin-right: 5%
}

p.logfail{
   position: absolute;
   left: 10px;
   top: 175px;
   font-weight:bold;
   color:#FF3333
}
 p.message{
    position: absolute;
	left: 10px;
	top: 175px;
	color: #003399;
 }
 
 p.info{
    position: absolute;
	left: 10px;
	top: 150px;
	font-size:10px;
 }

a {
   color: #663300;
}

a active visited{
  color: #663300;
}

p.email{
   position: absolute;
   left: 10px;
   top:450px
} 

img.logo{
	position: absolute;
	left: 10px;
	top: 10px
}

form.login{
   position: absolute;
   left: 10px;
   top: 200px;
}

td {
	font-size: 12px;
}

th {
	font-size: 12px;
}

.bodystyle {
	font-size: 12px;
}

.small {
	font-size: 9px;
}

.medium {
	font-size: 12px;
}

.big {
	font-size: 16px;
}

.xbig {
	font-size: 24px;
}

.expanded {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2px;
}

.justified {
	text-align: justify;
}

.footer {
	font-family: Times, serif;
	font-size: 9px;
	color: #999999;
}

.box1 {
	padding: 3px;
	border-width: medium;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border: 1px solid;
}

.white{
   color: white;
   font-size: 14px;
}

.store {
	font-size: 16px;
	font-weight: bold;
	color: #A46833;
}
