table.month {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
}

table.month td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 110px;
	padding: 5px;
	background: #ccbb77;
	font-size: 80%;
	min-height: 80px;
	height: 80px;
	vertical-align: top;
}

table.month th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	background: #ccaa44;
}

table.month th.month {
	font-size: 120%;
	background: #cc9933;
}

