/* CSS Document */

/************************* want a new color scheme?  These are the emements that need to be changed. **********************************/

body.themePurple { /* seasonal color scheme */
	background-color: #242464;	
}

.themePurple #divMask {
	background-color: #242464;
	height: 20px;
}
.themePurple #divIndexNewsHeadline, .themePurple #divIndexFeatureHeadline {
	background-color: #242464;
}

body.themeNavy { /* seasonal color scheme */
	background-color: #0F1F65;
}

.themeNavy #divMask {
	background-color: #0F1F65;
	height: 20px;
}
.themeNavy #divIndexNewsHeadline, .themeNavy #divIndexFeatureHeadline {
	background-color: #0F1F65;
}


body.themeRed { /* seasonal color scheme */
	background-color: #671200;
}

.themeRed #divMask {
	background-color: #671200;
	height: 20px;
}
.themeRed #divIndexNewsHeadline, .themeRed #divIndexFeatureHeadline {
	background-color: #671200;
}

body.themeOrange { /* seasonal color scheme */
	background-color: #B73C0F;
}

.themeOrange #divMask {
	background-color: #B73C0F;
	height: 20px;
}
.themeOrange #divIndexNewsHeadline, .themeOrange #divIndexFeatureHeadline {
	background-color: #B73C0F;
}

body.themeLavender { /* seasonal color scheme */
	background-color: #555EA1;
}

.themeLavender #divMask {
	background-color: #555EA1;
	height: 20px;
}
.themeLavender #divIndexNewsHeadline, .themeLavender #divIndexFeatureLavender {
	background-color: #555EA1;
}
body.themeMagenta { /* seasonal color scheme */
	background-color: #750029;
}

.themeMagenta #divMask {
	background-color: #750029;
	height: 20px;
}
.themeMagenta #divIndexNewsHeadline, .themeMagenta #divIndexFeatureMagenta {
	background-color: #750029;
}

body.themeGreen { /* seasonal color scheme */
	background-color: #153C00;
}

.themeGreen #divMask {
	background-color: #153C00;
	height: 20px;
}
.themeGreen #divIndexNewsHeadline, .themeGreen #divIndexFeatureGreen {
	background-color: #153C00;
}
