@charset "UTF-8";
/* CSS Document */

html, body {
height: 100%;}

#divContainer { /* new container styles */
min-height:100%;
height:100%;
voice-family: "\"}\"";
voice-family:inherit;
height:auto;
padding-bottom: 70px;
margin-bottom: 0px;

}
html>body #divContainer {
height: auto;}

#index #divWrap {
	background-color: #D0B95B;
}

#index #divPrimaryContent {
	background-color: #F5F4C1;
}

#grass {
	bottom: 0;
	height: 90px;
	width: 100%;
	position: fixed;
	background-color: transparent; /* necessary for background image to display properly in Safari */
	background-image: url(/git/IS4C/pos/is4c-web/src/images/grass.gif);
	background-repeat: no-repeat;
	background-position: center 0;
	left: 0px;
}

#grass #content{
	font-size: 10px;
	height:65px;
	color: #000000;
	margin-top: 35px;
	background-color: #5B9041;
	padding-top:3px;
 }
#grass #content p {
	margin-bottom:2px;
	font-size: 1.1em;
} 

#grass #content a:link {
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
#grass #content a:visited {
	color: #000000;
	text-decoration: underline;
}
#grass #content a:hover {
	text-decoration: none;
	color: #CDB353;
}	
#highlights {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
	font-size: 1.4em;
}
#grass #content #highlights a:link, #grass #content #highlights a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}
#grass #content #highlights a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: normal;
}
