/************************* general body styles **********************************/

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #191919;
	text-align: center;
	background-image: url(/images/mainBackground.gif);
	background-repeat: repeat-y;
	background-position: center;
	height:100%;
	min-height:100%;
	min-width: 760px;
}

/************************* text styles **********************************/

a:link {
	font-weight: bold;
	color: #242464;
	text-decoration: underline;
}
a:visited {
	color: #6B8F44;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	color: #242464;
}
p {
	line-height: 1.5em;
	margin-bottom: 10px;
}
.first{
	background-image: url(/images/purpleleaf.gif);
	background-repeat: no-repeat;
	text-indent: 28px;}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	margin-bottom: 7px;
	font-weight: normal;
	color: #242464;
}
h2 {
	font-size: 0.95em;
	text-transform: uppercase;
	color: #467131;
	margin-bottom: 5px;
	letter-spacing: 1px;
	margin-top: 7px;
}

.border {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #467131;
	padding-bottom: 4px;
}
h3 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}
hr {
}
.date {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	color: #191919;
}
.pdf {
	color: #666666;
}

/************************* layout styles **********************************/
.divClear {
	clear: both;
	height: 1px;
}
h2.divClear {
	height: 1em;
}
#divContainer { /* wrapper for all centered content */
	width: 760px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
}

#divWrap { /* wrapper for all text */
	text-align: left;
	
}
#index #divWrap {
	background-image: url(/images/indexBackgroundTop.gif);
	background-repeat: no-repeat;
}
#divHeader{ /* heading image */
	background-image: url(/images/insideBanner.jpg);
	text-align: center;
	height: 90px;
	border: 2px solid #FFFFFF;
	background-color: #000000;
}
#divIndexBannerBorder{ /* heading image */
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
	margin-top: 10px;
}
#divIndexBanner{ /* heading image */
	background-image: url(/images/indexBanner.jpg);
	text-align: center;
	height: 150px;
	background-color: #000000;
	background-repeat: no-repeat;
	border: 2px solid #FFFFFF;
}
#imgLogo { /* WFC logo positioning */
	position: absolute;
	left: 50%;
	margin-left:-125px;
	height: 124px;
	width: 255px;
	top: 10px;
}
#index #imgLogo { /* WFC logo positioning */
	position: absolute;
	left: 50%;
	margin-left:-219px;
	margin-top:80px;
	height: 210px;
	width: 438px;
	z-index:500;
}


/************************* secondary navigation **********************************/
#navSecondary { 
	background-image: url(/images/navbackground.gif);
	background-repeat: no-repeat;
	height: 30px;
	clear: both;
}
#index #navSecondary { 
	background-image: none;
	background-repeat: no-repeat;
}
.navInside { 
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
}

#navSecondary ul {
	list-style-type: none;
	float:left;
	padding-left: 50px;
	position:absolute;
	top: 118px;
}
#index  #navSecondary ul {
	position:static;
	top: 118px;
}
#navSecondary ul li {
	float: left;
	text-align: center;
	z-index: 501;
	}
		
#navSecondary ul a {
	display: block;
	line-height: 16px;
	padding-top: 4px;
	padding-right: 0px;
	padding-left: 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	}

#navSecondary ul a:link, #navSecondary ul a:visited {
	text-decoration: none;
	color: #191919;
	font-weight: bold;
 	}

#navSecondary ul a:hover, #navSecondary ul a.current {
	color: #6B8F44;
	font-weight: bold;
	text-decoration: none;
	}

#index #navSecondary ul {
	width: 600px;
	padding-left: 85px;
}
#index  #navSecondary ul li {
	margin-left: 15px;
	margin-right: 15px;
	}
		
/************************* primary navigation **********************************/
/*********************** also see SpreyMenuBarHorizontal.css *******************/
#navPrimary {
	margin-left: 30px;
	clear: both;
	height: 25px;
}
.navPrimarytagline {
	font-size: 11px;
	font-style: italic;
	text-transform: lowercase;
	color: #6B8E44;
	font-weight: bold;
	text-decoration: none;
}

/************************* primary text areas **********************************/

#divPrimaryContent {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#divPrimaryContent  ul, #divPrimaryContent ol {
	margin-left: 20px;
	margin-bottom: 12px;
}
#divPrimaryContent blockquote {
	margin-left: 30px;
	margin-bottom: 12px;
}
#divPrimaryContent li {
	margin-bottom: 5px;
	line-height: 1.4em;
}

#index #divPrimaryContent { 
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
	background-image: url(/images/indexBackgroundBottom.gif);
	background-repeat: repeat-x;
	padding-right: 0px;
	padding-left: 0px;
}
#divRightColumn { /* extra column */
	float: right;
	width: 350px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-size: .9em;
	
}

#divPhotoCaption { /* photo with caption */
	float: right;
	width: 350px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 1px solid #999999;
	font-size: .9em;
	background-color: #FFF9B1;
}
#divPhotoCaptionLeft { /* photo with caption */
	width: 350px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid #999999;
	font-size: .9em;
	background-color: #FFF9B1;
}
.imgBorder, .imgLeft, .imgRight {
	margin-bottom: 10px;
	border: 1px solid #999999;
}
	
.imgLeft {
	float: left;
	margin-right: 15px;
}
.imgRight {
	float: right;
	margin-left: 15px;
}

#divPhotoCaption p, #divPhotoCaptionLeft p {
	padding-right: 10px;
	padding-left: 10px;
}
#divPhotoCaption ol, #divPhotoCaption ol {
	margin-right: 10px;
	margin-left: 30px;
}
#divPhotoCaption h2 {
	margin-right: 10px;
	margin-left: 10px;
}

#divIndexQuickLinks { /* home page left side link area */
	float: left;
	width: 240px;
	font-size: 11px;
	padding-left: 20px;
}

#divIndexQuickLinks h1 {
	color: #6B8F44;
}

#divIndexNews { /* home page right side news area */
	margin-left: 280px;
	margin-right: 20px;
}
#divIndexNews p {
	line-height: 1.6em;
	background-image: url(/images/greyleaf.gif);
	background-repeat: no-repeat;
	text-indent: 28px;
}
#divIndexNewsHeadline {
	padding: 5px;
}
#divIndexNewsContent {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-size: 11px;
	color: #333333;
	padding: 10px;
	background-color: #FFF9B1;
}
.pSpace p  {
	margin-top: 5px;
}
.menu {
	font-size: .95em;
}
.menu th {
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D1B85B;
	text-align: center;
	padding-top: 5px;
}
.menu td {
	width: 14%;
	padding: 5px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D1B85B;
}
.menu .tan, .tan {
	background-color: #EEE7AC;
}

.member {
	font-size: 0.95em;
	border-bottom-color: #D1B85B;
	margin-bottom: 15px;
}
.member th {
	padding-bottom: 5px;
	text-align: center;
	padding-top: 5px;
	background-color: #EEE7AC;
	text-transform: uppercase;
	color: #467131;
	font-weight: bold;
	letter-spacing: 1px;
}
.member td {
	width: 14%;
	padding: 5px;
	text-align: center;
	
}
.menu .tan {
	background-color: #EEE7AC;
}

/************************* andy additions **********************************/
tr.catRowOne th {
	background-color: #FFF9B1;
	padding: 5px;
	padding-right: 10px;
	text-align: center;
}
tr.catRowOne td {
	background-color: #FFF9B1;
	padding: 5px;
	padding-right: 10px;
	text-align: center;
}
tr.catRowTwo th {
	background-color: #FFFFFF;
	padding: 5px;
	padding-right: 10px;
	text-align: center;
}
tr.catRowTwo td {
	background-color: #FFFFFF;
	padding: 5px;
	padding-right: 10px;
	text-align: center;
}

#catsalemenu {
	font-size: 110%;
}

#catsalemenutext {
	line-height: 1.3em;
	margin-bottom: 2em;
	background-color: #FFFFFF;
	padding: 5px;
}

#catitemimg {
	float: right;
	background-color: #FFFFFF;
	margin-left: 15px;
	margin-right: 15em;
	margin-bottom: 10em;
}

#catitembrand {
	line-height: 1.5em;
	font-size: 90%;
}

#catitemdesc {
	line-height: 1.3em;
	font-size: 130%;
	font-weight: bold;
}

#catitemsizeinfo {
	line-height: 1.5em;
	font-size: 90%;
}

#catitemprice {
	line-height: 1.5em;
	margin-top: 1em;
	font-size: 120%;
	font-weight: bold;
}

#catitemsale {
	line-height: 1.5em;
	font-size: 120%;
	font-weight: bold;
	color: #6B8F44;
}

#catitemlocation {
	line-height: 1.5em;
	margin-top: 1em;
}

#catitemstock {
	line-height: 1.5em;
	margin-top: 1em;
}

#catsaleformheader {
	font-size: 115%;
	margin-top: 1.3em;
	padding: 5px;
}

#catsaleform {
	display: none;
}

#shoppinglist td {
	padding: 5px;
}

#shoppinglist th {
	padding: 5px;
}

#catalogTopMenu {
	font-size: 90%;
	margin-bottom: 5px;
	margin-top: -8px;
}

#catitemcase {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: solid 1px black;
	padding: 4px;
	width: 18em;
}
