@charset "UTF-8";
/* CSS Document */

/*TYPOGRAPHY*/

/*NAVIGATION*/

/*.moduletable { margin-bottom: 1em; }

#topnav a {
color: #828282;
display:block;
float:left;
line-height:31px;
height: 31px;
padding:0px;
text-decoration:none;
background: url('../images/tab.jpg') no-repeat top left;
width: 80px;
text-align: center;
}
input.reset {
	width:75px; height: 33px; border: 0px none; background:#fff url('../images/button_reset.png') no-repeat;
}
input.button {
	background:#050 url('../images/tableHeaderBg.png') repeat-x top left; color:#e2e2e2; font-weight:bold; margin: 3px 5px; padding: 2px 8px;
}
#topnav a:hover, #topnav a.hover, #topnav span.active a {
	background-position: 0 -32px;
	border-bottom: 2px solid #fff;
	color: #111;
}*/
/*LAYOUT*/
* { padding: 0; margin: 0; }
/* body {

 background: #fff url('../images/body-background.gif') repeat-x top left;

} 
#wrapper {
 margin: 0 auto;
 width: 770px;
}
*/
/* body {
 background:#fff url('../images/bodybg.png') repeat-x; color:#000;
}

#wrapper {
 margin: 0 auto;
 width: 790px;
 padding: 0 10px;
 border-left: 1px solid #bbb;
 border-right: 1px solid #bbb;
 background: #fff url('../images/body-background.gif') repeat-x top left;
}

#faux {

 margin-bottom: 5px;
 width: 100%;
 margin-top: -14px;
 height: 90%;

}
* html #faux {
	overflow: auto; Paul O Brien Fix for IE www.pmob.co.uk, and only for IE because overflow kills Konqueror 
}
#search {
	background: url('../images/search.png') no-repeat top left;
	width: 300px;
	height: 25px;
	margin: 0px; padding:0px;
}
#logo {
	width: 229px;
	height: 92px;

}
#topnav {
	width: 770px;
	height: 30px;
	margin-top: 3px;

}

#rightcolumntop {
	float: right;
	background:url('../images/rightcolumn-top.jpg') no-repeat top left;
	width: 195px;
	height: 26px;
	margin-top: -17px;
	border-bottom: 10px solid #fff;
}
* html #rightcolumntop {
	margin-top: -20px;
	}
* html #topnav {
	margin-top: 0px;

}
#rightcolumn {
 display: block;
 margin: 10px 0px;
 margin-top: -10px;
 padding: 0px;
 width: 195px;
 min-height: 500px;
 float: right;
 background: url('../images/rightcolumn-expansion.png') no-repeat top left;

}*/
/* IE before 7 doesn't do min-height 
* html #rightcolumn {
	height: 500px;
}
#rightcolumn-content {
	margin: 18px;
}
#breadcrumbs {
	margin-bottom: 10px;
}
#leftcolumn {
 float: left;
 margin: 10px 0px;
 padding: 0px;
 width: 575px;
 display: inline;
 position: relative;
 border-bottom: 1px dotted #ccc;
}
#footer {
 width: 770px;
 clear: both;
 margin: 0px 0px 60px 0px;
 padding: 10px;
}*/
#grass {
	bottom: 0;
	height: 55px;
	width: 100%;
	background: url('../testimages/aigrass.gif') repeat-x 0 0;
	position: fixed;
}
/*.clear { clear: both; background: none; }


FORMS
#mod_search_searchword {
	background-color: #4b4b4b;
	border: 1px solid #5d5d5d;
	color: #fff;
	margin-left: 90px;
	margin-top: 3px;
	width: 150px;
	margin-right: 0;
	height: 14px;
}

#mod_search_searchword:hover {
	border: 1px solid #a8a8a8;
}

#mod_search_searchword:focus {
	background-color: #737373;
	border: 1px solid #a8a8a8;
	}

#search input {
	float: left;
	font-size: 13px;
}

#search .submit {
	margin-top: 3px;
	margin-left: 2px;
}

.submit:hover {
	cursor: pointer;

}
#demodemo {
	border: 1px solid #050; margin: 15px auto; clear:right;background:#fff;
}
.flashintro {
	width: 550px;
}
*/
/* For external apps such as domain management and contact 
.managebox {
 display: block;
 margin: 10px 0px;
 padding: 0px;
 width: 170px;
 float: right;
}
.contM {
 float: left;
 width: 570px;
}
hr {border:none;margin-top: 20px; border-bottom: 1px dashed #505;color:#dfdfdf;}
.debugbox { border: 1px dotted green; background-color: #aa4; color: #fff;}
h2 {color: #015500; font-size: 1em;}

.disabled {color:#aaa; background-color: #fff;}
.disabled b, .disabled strong {color:#988; background-color:#fff;}

blockquote ul.bulleted {border-right: 3em solid #e4e4e6;}
dt {	color:#050;  font-weight:bold; margin-top:1em;}

.inline dt {float:left; color:#050; padding-right: 0.5em; font-weight:bold;}
.inline dd {color:#4b4b4b; font-weight:normal;}
dl.inline {margin-left: 1em;}
dl.inline dt {
	margin-top:0
}
dl.inline dd {
	margin-bottom: 1em;
}
.level1 li {margin-left:1.2em;
}
ul.level1 {
	margin:0 0 1em 0; padding:0;
}
ul.level1 li {list-style-type:none;}
.level2 li {
	margin-left: 3em; text-indent: -2em;
}
.disclaimer {
	margin-top: 2em; padding:2px  1em 1em 1em; background-color:#dfdfdf; font-size:smaller; font-style: italic;
}
*/