*.pyc
pos/is4c/ini/ini.php
*~
pos/is4c-nf/log/*.log
pos/is4c-nf/ini.php
fannie/reports/cash_report/image_area/*
fannie/config.php
fannie/logs/*.log*
pos/is4c-nf/scale-drivers/drivers/rs232/ssd
*/tmp/*
fannie/item/images/done/*
fannie/item/images/new/*
fannie/legacy/FE/overshort/acct
fannie/inventory/archive/*
fannie/reports/Store-Specific/WFC/CCSettle/fetchLib.php
