*.pyc
pos/is4c/ini/ini.php
*~
pos/is4c-nf/log/*.log
pos/is4c-nf/ini.php
pos/is4c-nf/locale/*.po
pos/is4c-nf/locale/*.pot
fannie/reports/cash_report/image_area/*
fannie/config.php
fannie/logs/*.log
fannie/logs/*.txt
pos/is4c-nf/scale-drivers/drivers/rs232/ssd
*/tmp/*
fannie/item/images/done/*
fannie/item/images/new/*
fannie/legacy/FE/overshort/acct
fannie/cache/cachefiles
fannie/inventory/archive/*
fannie/reports/Store-Specific/WFC/CCSettle/xmlcache/*.xml
fannie/auth/shadowread/shadowread
fannie/src/Credentials/*
scripts/dist/deb/DEBS/*.deb
scripts/dist/rpm/BUILD/*
scripts/dist/rpm/RPMS/*
scripts/dist/rpm/SOURCES/*
scripts/dist/rpm/SRPMS/*
fannie/pi_food_net
fannie/pi_food_net/scalesDistro
fannie/logs/*
fannie/locale/*.po
fannie/locale/*.pot
*.dll
*.exe
fannie/INSTALL
