<phpunit bootstrap="tests/bootstrap.php">
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="common">
            <file>tests/common/WhiteSpaceTest.php</file>
        </testsuite>
        <testsuite name="main">
            <file>tests/fannie/InstallFannieTest.php</file>
            <file>tests/fannie/ApiLibTest.php</file>
            <file>tests/fannie/FannieSQLManagerTest.php</file>
            <file>tests/fannie/LogTest.php</file>
            <file>tests/fannie/MembersTest.php</file>
            <file>tests/fannie/ModelsTest.php</file>
            <file>tests/fannie/PagesFannieTest.php</file>
            <file>tests/fannie/PluginFannieTest.php</file>
            <file>tests/fannie/TasksTest.php</file>

            <file>tests/pos/InstallTest.php</file>
            <file>tests/pos/BaseLibsTest.php</file>
            <file>tests/pos/DisplayTest.php</file>
            <file>tests/pos/FooterBoxesTest.php</file>
            <file>tests/pos/KickersTest.php</file>
            <file>tests/pos/LocalStorageTest.php</file>
            <file>tests/pos/PagesTest.php</file>
            <file>tests/pos/ParsersTest.php</file>
            <file>tests/pos/PluginsTest.php</file>
            <file>tests/pos/ReceiptTest.php</file>
            <file>tests/pos/SQLManagerTest.php</file>
            <file>tests/pos/SearchTest.php</file>
            <file>tests/pos/TendersTest.php</file>
            <file>tests/pos/TotalActionsTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">common</directory>
            <directory suffix=".php">fannie</directory>
            <directory suffix=".php">pos/is4c-nf</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>common/adodb5</directory>
                <directory>fannie/legacy</directory>
                <directory>fannie/install/LaneConfigPages/extra_directory_layer</directory>
                <directory>fannie/install/LaneConfigPages/lane_install</directory>
                <directory>fannie/modules</directory>
                <directory>fannie/per_coop</directory>
                <directory>fannie/reports/Store-Specific</directory>
                <directory>fannie/src/Excel</directory>
                <directory>fannie/src/fpdf</directory>
                <directory>fannie/sync/special</directory>
                <directory>pos/is4c-nf/ajax-callbacks</directory>
                <directory>pos/is4c-nf/lib</directory>
                <directory>pos/is4c-nf/plugins</directory>
                <directory>pos/is4c-nf/test</directory>
                <directory suffix="index.php">.</directory>
                <file>fannie/cron/members.sync.with.CiviCRM.php</file>
                <file>fannie/cron/members.update.from.CiviCRM.php</file>
                <file>fannie/cron/nightly.db.backup.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
