form {
	display: inline;
}

#inputarea {
	text-align: left;
	width: 80%;
	padding-bottom: 8px;
	border-bottom: 1px solid #000000;
}

#inputarea th {
	text-align: left;
}

#displayarea {
	padding-top: 8px;
}

img {
	border:0;
}

.newBatchBlack {
	color: #000000;
}
