FORM[name=search] {
 text-align: center;
}

INPUT[name=q] {
 width: 200px;
}

FORM[name=edit] {
}

FIELDSET {
}

.edit_row {
 height: 2em;
 line-height: 2em;
 vertical-align: baseline;
}

.edit_column {
 width: 430px;
 display: inline-block;
 margin: 0px;
 padding: 0px;
 vertical-align: top;
}

.edit_subcolumn {
 float: left;
 width: 50%;
}

LABEL[for="edit_description"],
LABEL[for="edit_department"],
LABEL[for="edit_subdepartment"] {
 display: inline-block;
 width: 100px;
}

INPUT[name="edit_description"] {
 width: 286px;
}

LABEL[for="edit_price"] {
 display: inline-block;
 width: 100px;
}

INPUT[name="edit_price"] {
 text-align: right;
 width: 100px;
}

LABEL[for="edit_tax"],
LABEL[for="edit_tareweight"],
LABEL[for="edit_size"],
LABEL[for="edit_unitofmeasure"],
LABEL[for="edit_deposit"] {
 display: inline-block;
 width: 50px;
}

INPUT[name="edit_tax"],
INPUT[name="edit_tareweight"],
INPUT[name="edit_size"],
INPUT[name="edit_unitofmeasure"],
INPUT[name="edit_deposit"] {
 text-align: right;
 width: 130px;
}

LABEL[for="edit_foodstamp"],
LABEL[for="edit_weighed"],
LABEL[for="edit_advertised"],
LABEL[for="edit_discount"],
LABEL[for="edit_wicable"],
LABEL[for="edit_inuse"] {
 display: inline-block;
 padding-left: 20px;
 width: 100px;
}

#results_similar_products_wrap {
 clear: both;
 overflow-y: scroll;
}

#results_similar_products {
 margin-left: auto;
 margin-right: auto;
}

INPUT[name="edit_upc"] {
 border: 0px;
}