BODY {
 font-family: Helvectica, Arial, Sans, Sans-serif;
 font-size: .83em;
 padding-left: 7px;
 padding-right: 7px;
 padding-top: 7px;
 width: 1000px;
 margin: auto;
}

H1 {
 font-size: 1.5em;
}

LI {
 line-height: 2em;
}

UL {
 list-style-type: none;
 padding-left: 0px;
}

#page_top {
 border-bottom: 1px solid #999;
 color: #666;
 font-size: 2em;
}

#page_nav {
 float: left;
 border-right: 1px solid #999;
 padding-right: 8px;
 width: 118px;
}

#page_panel {
 float: left;
 padding-left: 8px;
 padding-top: 8px;
 padding-bottom: 8px;
 width: 865px;
}

#page_foot {
 border-top: 1px solid #999;
 clear: both;
 float: left;
 width: 100%;
}

	#page_top a:active,
	#page_top a:link,
	#page_top a:hover,
	#page_top a:visited {
	 color: #666;
	 text-decoration: none;
	}

	#page_nav UL {
	 margin-top: 8px;
	}


 /* TODO - These should have better names */
.p_status {
 margin: .3em 0;
 color: #666;
}

.status {
 color: #F00;
}

.accesskey {
 color: #00297A;
}

.textAlignCenter {
 text-align: center;
}
.textAlignRight {
 text-align: right;
}