</div> <!--end of divPrimaryContent-->
</div> <!--end of divWrap-->
</div>  <!--end of divContainer-->

<div id="grass"> <div id="content">  
     <div id="highlights">
        <p><img src="/src/images/clock.gif" width="28" height="28" align="absmiddle" /> open 7am - 9pm Every day! &nbsp;&nbsp;&nbsp;&nbsp; <img src="/src/images/deli.gif" width="28" height="28" align="absmiddle" /> <a href="http://wholefoods.coop/menu.cgi">Deli Menu</a>&nbsp;&nbsp;&nbsp;&nbsp; <img src="/src/images/plu.gif" width="28" height="28" align="absmiddle" /> <a href="http://wholefoods.coop/PLUfinder.cgi">PLU Lookup</a> &nbsp;&nbsp;&nbsp;&nbsp;<img src="/src/images/compass.gif" alt="" width="28" height="28" align="absmiddle" /> <a href="http://wholefoods.coop/dw/Location_Map.shtml">Location Map</a></p>
    </div>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;610 E 4th Street &nbsp;&nbsp; l &nbsp;&nbsp; Duluth, MN  55805 &nbsp;&nbsp; l &nbsp;&nbsp; phone: (218) 728-0884 &nbsp;&nbsp; l &nbsp;&nbsp;  info@wholefoods.coop 
	&nbsp;&nbsp; l &nbsp;&nbsp; <a href="http://wholefoods.coop/MyAccount/">My Account</a>	&nbsp;&nbsp; l &nbsp;&nbsp;  <img src="/src/images/facebook_sm.gif" width="12" height="12" align="texttop" /> <a href="http://www.facebook.com/pages/Duluth-MN/Whole-Foods-Co-op/49852317869?ref=ts" target="_blank">Visit us on Facebook</a></p>
    </div></div>
    
<script type="text/javascript"><!-- this script is for the drop-down menus-->
<!--
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"/includes/SpryAssets/SpryMenuBarDownHover.gif", imgRight:"/includes/SpryAssets/SpryMenuBarRightHover.gif"});
//-->
</script>
</body>
</html>
