<link href="/src/includes/styles.css" rel="stylesheet" type="text/css" />
<link href="/src/includes/colortheme.css" rel="stylesheet" type="text/css" />
<script src="/src/includes/SpryMenuBar.js" type="text/javascript"></script>
<link href="/src/includes/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="/src/includes/footer.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/src/includes/iehacks.css" />
<![endif]-->
</head>

<body class="themeOrange" >  <div id="divMask"></div>

<div id="divContainer"><div id="divWrap">
    
<div id="divHeader">
	<div id="imgLogo">
    <a href="/"><img src="/src/images/wholefoodscoop.gif" alt="Whole Foods Coop, Duluth, MN" width="255" height="122" border="0"  /></a></div></div>


<div id="navSecondary" class="navInside"><ul>
     <li><a href="/dw/Board_News.shtml" style="width:90px;">Board news</a></li>
      <li><a href="/jobs.cgi" style="width:180px;">Employment opportunities</a></li>
      <li><a href="/#" style="width:90px;"></a></li>
      <li><a href="/dw/Garbanzo_Gazette.shtml" style="width:130px;">Newsletters</a></li>
      <li><a href="/dw/Links.shtml" style="width:70px;">Links</a></li>
	  <li><a href="/" style="width:70px;">Home</a></li>
      </ul></div>
  
<div id="navPrimary">
      <ul id="MenuBar1" class="MenuBarHorizontal">
      <li><a class="MenuBarItemSubmenu" href="/dw/About_Our_Co-op.shtml">About our Coop</a>
        <ul>
          <li><a href="/dw/History.shtml">History</a></li>
  		      <li><a href="/dw/Exterior_Art_Project.shtml">Supporting local artists</a></li>
  		      <li><a href="/dw/Location_Map.shtml">Directions</a></li>
  		      <li><a href="/dw/Kudos.shtml">Kudos</a></li>
			  <li><a href="/dw/Donation_Form.shtml">Donation Request Form</a></li>
			  <li><a href="/dw/Contact_Us.shtml">Contact Information</a></li>
        </ul></li>
      <li><a class="MenuBarItemSubmenu" href="/dw/Membership.shtml">Ownership</a>
         <ul>
            <li><a href="/dw/What_is_it.shtml">What is it?</a></li>
	        <li><a href="/dw/How_to_Cost.shtml">How to/cost</a></li>
	        <li><a href="/dw/Fran_Skinner_Memorial.shtml">Fran Skinner matching fund</a></li>
	        <li><a href="/dw/Benefits.shtml">Benefits</a></li>
			<li><a href="/docs/OwnersManual.pdf">Owner's Manual (pdf)</a></li>
	      </ul></li>
      <li><a class="MenuBarItemSubmenu" href="/dw/Store_Specials.shtml">Store specials</a>
        <ul>
          <li><a href="/dw/Co-op_Advantage_Flyer.shtml">Co+op Deals</a></li>
  	      <li><a href="http://catalog.wholefoods.coop/catalogMemberSale.cgi">Owner Extras</a></li>
  	      <li><a href="/dw/Coupons.shtml">Coupons</a></li>
  	    </ul></li>
      <li><a class="MenuBarItemSubmenu" href="/dw/What's_Going_On.shtml">What's going on at the Coop</a>
	    <ul>
          <li><a href="/dw/Classes.shtml">Classes</a></li>
  	      <li><a href="/dw/Meetings.shtml">Meetings</a></li>
  	      <!--<li><a href="/dw/Around_Town.shtml">WFC Around Town</a></li>-->
  	    </ul></li>
      <li><a class="MenuBarItemSubmenu"href="/dw/Department_Highlights.shtml">Department Highlights </a>
        <ul>
		  <li><a href="/dw/Recipes.shtml">Rush Hour Recipes</a></li>
          <li><a href="/dw/Grocery.shtml">Grocery</a></li>
  	      <li><a href="/dw/Bulk.shtml">Bulk</a></li>
  	      <li><a href="/dw/Cool.shtml">Cool</a></li>
  	      <li><a href="/dw/Health_body.shtml">Health & Body Care (HBC)</a></li>
  	      <li><a href="/dw/Deli.shtml">Deli</a></li>
  	      <li><a href="/dw/Produce.shtml">Produce</a></li>
  	      <li><a href="/dw/Front_End.shtml">Front End</a></li>
  	    </ul></li>
      </ul>
    </div>
   
<div id="divPrimaryContent">
<div class="divClear"><!--a comment so IE won't add height to the div--></div>
