/* installTab* are for install-page taskbar links */
body {
	line-height: 1.5em;
}

ul.installTabList {
	list-style-type:none;
	/* IE */
	margin-left:0.0em;
	/* FF */
	padding-left:0.0em;
}

ul.installTabList2 {
	list-style-type:none;
	/* IE - not tested */
	margin-top:0.0em;
	margin-left:1.0em;
	/* FF */
	padding-top:0.0em;
	padding-left:1.0em;
}

li.installTab {
	float:left;
	color:#000000;
	border:1px solid #ADADAD;
	border-bottom-style:none;
	margin: 0.2em 0.2em 0.2em 0.2em;
	padding: 0.2em 0.5em 0.0em 0.5em;
}

/* 2nd level deep */
li.installTab2 {
	float:left;
	color:#000000;
	border:1px dashed #ADADAD;
	border-bottom-style:none;
	margin: 0.2em 0.2em 0.2em 0.2em;
	padding: 0.2em 0.5em 0.0em 0.5em;
}

/* A piece of configuration */
p.ichunk {
	margin: 0.5em 0.0em 0.5em 0.0em;
}

