/* installTab* are for install-page taskbar links */
body {
	line-height: 1.5em;
	color:#444444;
	bgcolor:#FFFFFF;
}
h1.install {
	font-family: Arial;
	font-size: 1.8em;
	line-height: 2.0em;
	color:#330066;
}
h2.install {
	font-family: Arial;
	font-size: 1.6em;
	line-height: 1.8em;
	color:#330066;
}
h3.install {
	font-family: Arial;
	font-size: 1.4em;
	line-height: 1.4em;
	/*letter-spacing: 0.2em;*/
	letter-spacing: 0.0em;
	color:#330066;
	}
h4.install {
	font-family: Arial;
	font-size: 1.2em;
	font-weight: bolder;
	line-height: 0.8em;
	letter-spacing: 0.0em;
	margin:1.2em 0.0em 1.0em 0.0em;
	color:#330066;
}

ul.installTabList {
	list-style-type:none;
	/* IE */
	margin-left:0.0em;
	/* FF */
	padding-left:0.0em;
}

ul.installTabList2 {
	list-style-type:none;
	/* IE - not tested */
	margin-top:0.0em;
	margin-left:1.0em;
	/* FF */
	padding-top:0.0em;
	padding-left:1.0em;
}

li.installTab {
	float:left;
	color:#000000;
	border:1px solid #ADADAD;
	border-bottom-style:none;
	margin: 0.2em 0.2em 0.2em 0.2em;
	padding: 0.2em 0.5em 0.0em 0.5em;
}

/* 2nd level deep */
li.installTab2 {
	float:left;
	color:#000000;
	border:1px dashed #ADADAD;
	border-bottom-style:none;
	margin: 0.2em 0.2em 0.2em 0.2em;
	padding: 0.2em 0.5em 0.0em 0.5em;
}

/* A piece of configuration */
p.ichunk {
	font-family: Arial;
	color: black;
	margin: 0.5em 0.0em 0.5em 0.0em;
}

/* A piece of configuration
 * Used where there is a label and a control usually on the same line.
 * The label is bolded inline.
*/
p.ichunk2 {
	font-family: Arial;
	color: black;
	margin: 0.0em 0em 0.4em 0em;
}

/* A comment under a heading.
 * Used in addition to ichunk2
*/
p.ichunk3 {
	margin: 0.0em 0em 1.0em 1.0em;
}
