/* tell the SVG path to be a thin blue line without any area fill */
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
                                                                                        
.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
    stroke-width: 1;
}
