#login
{
    border: 0px;
    padding: 0;
    border-spacing: 0;
}

#is4c_header
{
    height: 40px;
    width: 100px;
    vertical-align: center;
    background-color: #FFCC00;
    text-align: center;
    font-family: 'arial', 2serif;
    font-size: medium;
    font-weight: bold;
}

#full_header
{
    height: 40px;
    width: 540px;
    vertical-align: bottom;
    text-align: right;
    font-family: 'arial', serif;
    font-size: xx-small;
    font-weight: bold;
}

#line
{
    height: 1px;
    width: 640px;
    background-color: black;
}

#welcome
{
    height: 20px;
    width: 110px;
    text-align: center;
    background-color: #004080;
    font-family: 'arial', serif;
    font-size: small;
    font-weight: bold;
    color: white;
}

#content_data
{
    height: 300px;
    width: 640px;
    text-align: center;
    vertical-align: center;
}

#content_table
{
    border: 0px;
    padding: 0px;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

#content_table td
{
    background-color: #004080;
    height: 150px;
    width: 260px;
    vertical-align: center;
    text-align: center;
    font-family: 'arial', serif;
    color: white;
}

#exit_text
{
    font-family: 'arial', serif;
    font-size: x-small;
}

#exit_switch
{
    height: 31px;
    width: 21px;
    background-image: url('/graphics/switchblue.gif');
}

#exit_switch:hover
{
    height: 31px;
    width: 21px;
    background-image: url('/graphics/switchred.gif');
}
