H1 {
 margin-left: 2px;
}

LABEL[for="addBatch_name"],
LABEL[for="editBatch_name"], 
LABEL[for="searchBatch_upc"],
LABEL[for="searchProduct_upc"],
LABEL[for="addProduct_upc"] {
 display: inline-block;
 width: 3em;
}

INPUT[name="addBatch_start"],
INPUT[name="addBatch_end"], 
INPUT[name="editBatch_start"],
INPUT[name="editBatch_end"],
INPUT[name="addProduct_normal_price"],
INPUT[name="addProduct_price"] {
 text-align: right;
 width: 6em;
}

.edit_row {
 height: 2em;
 line-height: 2em;
 vertical-align: baseline;
}

FORM[name="listBatch"] TABLE,
FORM[name="searchResults"] TABLE,
FORM[name="listProduct"] TABLE {
 margin-left: auto;
 margin-right: auto;
}

FORM[name="listBatch"] TD,
FORM[name="searchResults"] TD,
FORM[name="listProduct"] TD {
 padding: 0px 3px 0px 3px;
}
